.tools__wrapper {
    padding-bottom: 90px;
    background-image: url("../../assets/img/backgrounds/Bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    margin-bottom: 30px;
}
.tools__heading {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}
.tools__button {
    margin-top: 60px;
    text-align: center;
}

// Tool block
.tool__icon {
    margin-bottom: 30px;
}
.tool__title {
    margin: 0 0 16px;
}
