.button {
    @extend %font-prim;
    padding: 11px 25px 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    &_bordered {
        background-color: $color-light;
        border: 1px solid $color-border;
        color: $color-text;
        &:hover {
            background-color: $color-hovered;
            border-color: $color-hovered;
        }
    }
    &_colored {
        background-color: $color-primary;
        color: $color-light;
        border: 1px solid $color-primary;
        &:hover {
            background-color: $color-additional;
            border-color: $color-additional;
        }
    }
}

.link-button {
    color: $color-primary;
    @extend %font-add;
    @include font($size: 1.6rem, $height: 2.4rem, $weight: 600);
    display: flex;
    align-items: center;
    gap: 9px;
}
